# 忽略 Python 缓存和虚拟环境
__pycache__/
*.pyc
venv/
.env

# 忽略构建和打包输出目录
build/
dist/

# 忽略 IDE 配置文件
.vscode/
.idea/

# 忽略 qpdf 缓存（自动下载，不用上传）
qpdf_cache/
qpdf_temp/

# 忽略 PyInstaller 自动生成的 spec 文件
*.spec

# 忽略运行时日志
*.log

# 忽略你之前提到的 qpdf 原始下载包
qpdf-12.3.2-msvc64/